
.navbar{
    background-color: #343a40;
}

.navbar .navbar-brand{
    color: #fff;
}


.navbar .navbar-nav .nav-link{
    color: #fff !important;
    text-decoration: none !important;
    margin-right: 10px !important;
}

@media (max-width: 768px) {
    .navbar .navbar-nav .nav-link{
        margin-right: 0px !important;
    }
}

